*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    text-align: center;
}
header{
    background: black;
    height: 10vh;
}
nav{
    width: 70%;
    padding-top: 2%;
}
header nav{
    display: flex;
    justify-content: space-around;
}


/**** SECTION OFFRES ***/
.offres h1 {
    font-size: 40px;
}

.offres img {
    margin: 1%;
}
.offres_a{
    display: block;
    width: 20%;
    margin: 3% auto;
    padding: 1%;
    background-color: black;
    color: white;
    text-decoration: none;
}

/****** FOOTER *****/
footer  {  
    height: 20vh;
    background-color: black;
}

.nav_footer {
    display: flex;
    justify-content: space-around;
    margin: 6% auto 0;
    padding-top: 4%;
}

.nav_footer a {
    text-decoration: none;
    color: white;
}

