*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    text-align: center;
}
/*Header*/
header{
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

header nav{
    display: flex;
    justify-content: space-around;
    width: 70%;
    padding: 2%;
    margin-left: auto;
}
header nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
   
}

header nav a:hover{
    color: green;
    transform: scale(1.2);
}
/*MAIN*/
#first-section{
    display: flex;
    justify-content: space-around;
    padding: 5%;
}
#connect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 1em;
}
#connect h1{
    margin: 0;
    font-size: 2em;

}
#connect a{
    width: 40%;
    text-decoration: none;
    background: black;
    color: white;
    padding: 2% 4%;
    margin-top: 5%;
    text-align: center;

}
#image-shop{
    width: 50%;
}


/**** SECTION OFFRES ***/
.offres h1 {
    font-size: 40px;
}


.offres_a{
    display: block;
    width: 20%;
    margin: 3% auto;
    padding: 1%;
    background-color: black;
    color: white;
    text-decoration: none;
}
.div_offre {
    display: flex;
    position: relative;
}

.div_offre IMG {
    width: 90%;
}

.div_offre div p {
    position: absolute;
    font-size: 30px;
    color: white;
}

.p1 {
    top: 30% ;
    left: 10%;
}

.p2 {
    top: 30% ;
    left: 46%;
}

.p3 {
    top: 30% ;
    left: 80%;
}

/****** FOOTER *****/
footer  {  
    height: 20vh;
    background-color: black;
}

.nav_footer {
    display: flex;
    justify-content: space-around;
    margin: 6% auto 0;
    padding-top: 4%;
}

.nav_footer a {
    text-decoration: none;
    color: white;
}

