/**** INDEX ****/
@font-face {
    font-family: "circular";
    src: url(../src/font/CircularStd-Black.ttf);
    
}
*{
    box-sizing: border-box;
    
}
/*Scrollbar*/
body::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: white;
 }
body::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}
body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: whitesmoke;
}
body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "circular";
    
}
/*Header*/
header{
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

header nav{
    display: flex;
    justify-content: space-around;
    width: 70%;
    padding: 2%;
    margin-left: auto;
}
header nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
   
}

header nav a:hover{
    color: green;
    transform: scale(1.2);
}
/*MAIN*/
#first-section{
    display: flex;
    justify-content: space-around;
    padding: 5%;
}
#connect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 1em;
}
#connect h1{
    margin: 0;
    font-size: 2em;

}
#connect a{
    width: 40%;
    text-decoration: none;
    background: black;
    color: white;
    padding: 2% 4%;
    margin-top: 5%;
    text-align: center;

}
#index-image-shop{
    width: 50%;
}
#index-image-shop img{
    width: 100%;
    


}


/**** SECTION OFFRES ***/
.offres h1 {
    font-size: 40px;
}


.offres_a{
    display: block;
    width: 20%;
    margin: 3% auto;
    padding: 1%;
    background-color: black;
    color: white;
    text-decoration: none;
}
.div_offre {
    display: flex;
    position: relative;
}

.div_offre IMG {
    width: 90%;
}

.div_offre div p {
    position: absolute;
    font-size: 30px;
    color: white;
}

.p1 {
    top: 30% ;
    left: 10%;
}

.p2 {
    top: 30% ;
    left: 46%;
}

.p3 {
    top: 30% ;
    left: 80%;
}

/****** FOOTER *****/
footer  {  
    height: 20vh;
    background-color: black;
}

.nav_footer {
    display: flex;
    justify-content: space-around;
    margin: 6% auto 0;
    padding-top: 4%;
}

.nav_footer a {
    text-decoration: none;
    color: white;
}

/****** PAGE CATEGORIE ******/

.category-head h1{
    text-align: center;
    margin-top: 0;
    margin-bottom: 1em;
}
.category-head{
    text-align: center;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.category-head p{
    font-size: 1em;
    margin: 0;
    
    

}
.category-image{
    width: 50%;
    padding: 2%;
    position: relative;
}
.category-description{
    width: 50%;
    padding: 2%;
    display: flex;
    flex-direction: column;

}
.category-description p{
    text-align: start;
}
.category-description2{
    width: 50%;
    padding: 2%;
    display: flex;
    flex-direction: column;

}
.category-description2 p{
    text-align: end;
}
.category-description a{
    border: 1px solid black;
    padding: 0.5em 1em ;
    margin-top: 1em;
    width: 40%;
}
.category-description2 a{
    border: 1px solid black;
    padding: 0.5em 1em ;
    margin-top: 1em;
    margin-left: auto;
    width: 40%;
}
.shopkeeper{
    display: flex;
    justify-content: space-around;
    padding: 2%;
    margin: 1%;
    width: 100%;
}
.shopkeeper2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 2%;
    margin: 1%;
    width: 100%;
}
.category-image p{
    position: absolute;
    color: white;
    font-size: 3em;
    top:30%;
    left: 30%;
}
.category-image img{
    width: 100%;
}

/**** INSCRIPTION ****/
body {
    text-align: center;
}

form {
    width: 80%;
    margin: auto;
}

input {
    height: 30px;
    margin: 1%;
}


form div input {
    width: 40%;
}

form input {
    width: 82.5%;
}

input[type="submit"] {
    width: 30%;
}



/****** profil ***/
.profil_hr {
    width: 70%;
    margin: 2% auto;
    border: 1px solid black;
}

/****** CONNEXION ****/

.connexion_fieldset {
    padding: 2%;
    background-color: rgb(116, 116, 116);
    border: 1px solid black;
}

.connexion_legend {
    padding: 1%;
    text-align: left;
    background-color: black;
    color: white;
    border-radius: 10px;
}
.connexion_icon {
    width: 10%;
    margin: 5% auto 2%;
}

.connexion-input {
    display: block;
    width: 50%;
    margin: 1% auto;
}
.connexion_p , .connexion_p2 {
    margin: 0.5%;
}

.connexion_p2 {
    display: inline-block;
    margin: 1%;
}

.connexion_p2 a {
    color: gray;
    text-decoration: none;
}

.connexion_p2 a:hover {
    color: red;
    text-decoration: underline;
}



