body {
    text-align: center;
}

form {
    width: 80%;
    margin: auto;
}

input {
    height: 30px;
    margin: 1%;
}


form div input {
    width: 40%;
}

form input {
    width: 82.5%;
}

input[type="submit"] {
    width: 30%;
}